.Rproj.user
.Rhistory
.RData
.Ruserdata
June_2021/.tmp/
June_2021/CN_light/
June_2021/GB21_D1/
June_2021/HPG_light/
June_2021/June_2021_1.chk_im
June_2021/June_2021_1.trace
June_2021/NH4_dark/
June_2021/NH4_light/
June_2021/TMA_light/
June_2021/extract_tsv.sh
June_2021/gly_dark/
June_2021/gly_light/
June_2021/nanosims-processor.py
June_2021/new1.cha
June_2021/new10.cha
June_2021/new11.cha
June_2021/new12.cha
June_2021/new13.cha
June_2021/new14.cha
June_2021/new2.cha
June_2021/new3.cha
June_2021/new4.cha
June_2021/new5.cha
June_2021/new6.cha
June_2021/new7.cha
June_2021/new8.cha
June_2021/new9.cha
June_2021/no3_dark/
June_2021/no3_light/
June_2021/tmp/
